
/* @import url('https://fonts.googleapis.com/css2?family=Allison&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

*{

    padding: 0px;
    margin: 0px;

}


body{

    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
}


.border{

   width:100%;
   height: 200px;
   padding: 2px;
   /* border: 2px solid red; */
   /* background-color: rgb(109, 109, 240); */
   display: flex;
}
.border:hover{
    background-color: cyan;
}
.heading{
    text-align: center;
    line-height: 250px;
    color: black;
    font-size: 60px;
    width: 80%;
    font-family: 'Permanent Marker', cursive;
    text-shadow: cyan;
    /* text-shadow: 5px 5px 5px rgb(138, 218, 10); */

}
.lLogo{
       
    width: 20%;
    border: 2x solid white;
    padding: 5px;
    /* margin-top: 50px; */


}

.rLogo{
    width: 20%;
    /* background: green; */
}
ul{
    margin: o;
    padding: 0;
    list-style: none;
    height: 60px;
    line-height: 60px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    


}
li{
    float: left;
    border: 1px solid #156ee2;

}
a{
    display: block;
    padding: 0 116px;
    text-decoration: none;
    color: cyan;
   
}
.a:hover{
    background-color: rgb(42, 121, 110);
}

.grid{
    /* font-family: 'Permanent Marker', cursive; */
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Markazi Text', serif;
    text-align: left;

    /* background: #156ee2;
     */
    /* add flexbox  */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    /* text-align: center;
     */
}

.box{
    width: 300px;
    height: 200px;
    line-height: 30px;
    font-family: 'Markazi Text', serif;
    background:#182745 ;
    margin: 10px;
    box-sizing: border-box;
    font-size: 30px;
    padding: 5px;
    box-shadow: darkblue;
    border: 2px solid black;
    border-radius: 20px ;
   
    
    
}
/* responsive media query  */

@media screen and (max-width:1200px) {
    .box{
        width:40%
    }
    
}
@media screen and (max-width:600px) {
    .box{
        width:90%
    }
    
}

/* .year{
   text-align: center;
   font-size: 60px;
   padding: 20px;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bolder;
} */



/* .container{
    /* position: relative;
    width: 100%;
    height: 50vh;
    margin: 240px auto;
    margin-bottom: 100px;
    margin-left: 100px;
    background-color: magenta;
    display: flex;
    flex-direction: column; */
    /* background-color: red; */
    /* width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
.container .box{
    position:relative;
    width: calc(300px - 30px);
    height: calc(300px - 30px);
    background: #fff;
    margin-top: 50px;
    float: left;
     margin: 15px;  
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.container .box:nth-child(1){
    background: linear-gradient(45deg,#036eb7,#64eaff);

}
.container .box:nth-child(2){
    background: linear-gradient(45deg,#E91E63,#ed55ff);

}
.container .box:nth-child(3){
    background: linear-gradient(45deg,#086d35,#00ff72);

}
.container .box:nth-child(4){
    background: linear-gradient(45deg,#086d35,#00ff72);

}
.container .box  h2{
    position: relative;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 100px;
    color: #fff;
    z-index: 1;
    opacity: 0.4;
}
.container .box  h3{
    position: relative;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
   
}
.container .box  p{
    position: relative;
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    
}
.container .box  h3{
    position: relative;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    */

/* .year{
    font-size: 50px;
    text-align: center;
    
    font-family: 'Allison', cursive;

} */