*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}




body{
    background-color: #0b476f;
background-image: linear-gradient(180deg, #0b476f 0%, #041825 100%);

}
.unit{
    /* font-family: 'Permanent Marker', cursive; */
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Markazi Text', serif;
    text-align: left;
    /* background: #156ee2;
     */
    /* add flexbox  */
    display: flex;
    flex-direction: row;
     justify-content: center;
    flex-flow: wrap;
    text-align: center;
}

.abhi{
    width: 400px;
    height: 350px;
    line-height: 60px;
    font-family: 'Markazi Text', serif;
    background:#182745 ;
    margin: 20px ;
    box-sizing: border-box;
    font-size: 20px;
    padding: 50px;
    box-shadow: darkblue;
    border: 2px solid black;
    border-radius: 20px ;
   
    
    
}
/* responsive media query  */

@media screen and (max-width:1200px) {
    .box{
        width:40%
    }
    
}
@media screen and (max-width:600px) {
    .box{
        width:90%
    }
    
}